// GLOBAL

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:not(i) {
  font-family: "Alexandria", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media (max-width: 1700px) {
    font-size: 58%;
  }

  @media (max-width: 1600px) {
    font-size: 55%;
  }

  @media (max-width: 1500px) {
    font-size: 50%;
  }

  @media (max-width: 1300px) {
    font-size: 48%;
  }

  @media (max-width: 1150px) {
    font-size: 45%;
  }

  @media (max-width: 1000px) {
    font-size: 42%;
  }

  @media (max-width: 900px) {
    font-size: 40%;
  }

  @media (max-width: 700px) {
    font-size: 38%;
  }

  @media (max-width: 600px) {
    font-size: 36%;
  }
}

:root {
  --section-inline-padding: 15%;
  --section-block-padding: 10rem;

  // COLORS
  --clr-0: #fff;
  --clr-1: #202020;
  --clr-2: gold;
  --clr-3: #5e5e5e;

  // FONT SIZES
  --fs-6: 7.2rem;
  --fs-5: 4rem;
  --fs-4: 1.8rem;
  --fs-3: 1.5rem;
  --fs-2: 1.35rem;

  // FONT WEIGHTS
  --fw-6: 600;
  --fw-5: 500;
  --fw-4: 400;
  --fw-3: 300;
  --fw-2: 200;
  --fw-1: 100;

  @media (max-width: 1500px) {
    --section-inline-padding: 10%;
  }

  @media (max-width: 800px) {
    --fs-6: 6.2rem;
  }
}

::selection {
  background-color: var(--clr-2);
  color: var(--clr-0);
}

p {
  color: var(--clr-3);
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-1);
}

section {
  padding-inline: var(--section-inline-padding);
  padding-block: var(--section-block-padding);
}

// UTILITIES

.btn {
  background-color: var(--clr-2);
  border-radius: 4px;
  padding: 1.2em 2.6em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-0);
  font-weight: var(--fw-6);
  transition: transform 200ms ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.97);
}

// HEADER
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4rem;
  padding-inline: var(--section-inline-padding);
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: var(--clr-2);
  font-size: calc(var(--fs-3) * 2);
  font-family: "Great Vibes", sans-serif;
  text-decoration: none;
  font-weight: var(--fw-6);
}

.header-list {
  display: flex;
  gap: 3rem;
  list-style: none;

  @media (max-width: 800px) {
    gap: 2rem;
  }

  @media (max-width: 500px) {
    gap: 1rem;
  }
}

.header-list__link {
  color: var(--clr-0);
  text-decoration: none;
  font-size: var(--fs-3);
  text-transform: uppercase;
  display: block;
  padding: 0.4em;
  transition: color 200ms ease;
}

.header-list__link:hover {
  color: var(--clr-2);
}

// HERO

.hero {
  min-height: 75vh;
  background-color: #3b3b3b;
  color: var(--clr-0);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 450px) {
    min-height: 68vh;
  }
}

.hero__greet {
  font-family: "Great Vibes", sans-serif;
  font-size: var(--fs-5);
  color: var(--clr-0);
}

.hero__title {
  font-size: var(--fs-6);
  text-transform: uppercase;
  color: var(--clr-0);
  text-align: center;
}

.hero__link {
  font-size: var(--fs-4);
}

// SERVICES

.services {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__title {
  font-size: var(--fs-5);
  text-transform: uppercase;
  color: var(--clr-1);
  margin-bottom: 1rem;
}

.services__text {
  font-size: var(--fs-3);
  font-style: italic;
}

.services-list {
  list-style: none;
  margin-top: 6rem;
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;

  @media (max-width: 450px) {
    width: 80%;
  }
}

.services-list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  align-items: center;
}

.services-list-item__icon {
  color: var(--clr-2);
  font-size: 4rem;
  padding: 1.6rem;
  aspect-ratio: 1 / 1;
  border: solid 2px currentColor;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.services-list-item__title {
  font-size: var(--fs-4);
}

// PORTFOLIO

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__title {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.portfolio__text {
  font-size: var(--fs-3);
  font-style: italic;
}

.portfolio-list {
  width: 100%;
  margin-top: 8rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list-item__image {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 2.4rem;
}

.portfolio-list-item__title {
  font-size: var(--fs-4);
}

.portfolio-list-item__text {
  font-size: var(--fs-3);
}

// FOOTER

.footer {
  display: flex;
  padding-inline: var(--section-inline-padding);
  padding-block: 4rem;
  justify-content: space-between;
}

.footer__text {
  color: var(--clr-1);
  font-size: var(--fs-3);
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer-list__icon {
  --fs: 2rem;
  background-color: var(--clr-1);
  font-size: var(--fs);
  border-radius: 50%;
  color: var(--clr-0);
  width: calc(var(--fs) * 2.1);
  aspect-ratio: 1 / 1;

  display: grid;
  place-items: center;
}
